body, html{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 18px;
	background-image: url("woodbg.jpg");
	background-color: #222;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
	box-sizing: border-box;
}
#maincointainer{
	width: 800px;
	height: 100%;
	margin: auto;
}
.header{
	padding: 50px;
	text-align: center;
	background: rgba(22, 29, 26, .95);
	color: white;
}
.navbar{
	display: flex;
	justify-content: center;
	background-color: rgba(11, 14, 13, .9);
}
.navbar a{
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}
.navbar a:hover{
	background-color: white;
	color: #282828;
}
.content{  
	display: flex;
	flex-wrap: wrap;
	color: white;
}
.aside{
	flex: 25%;
	background-color: rgba(40, 48, 46, .8);
	padding: 20px;	
	text-align: center;
}
p{
	margin: 3px 0;
	font-size: 14px;
	font-weight: bold;
}
.aside p{
	text-align: right;
}
h4{
	margin: 6px 0;
	text-align: left;
}
.main{
	flex: 75%;
	background-color: rgba(34, 42, 39, .8);
	padding: 20px;
}

h3{
	margin: 14px 0;
}
.date{
	padding-left: 5px;
	margin-right: 40px;
	flex: 0 0 auto;
}
.details{
	flex: 1 1 auto;
	text-align: right;
}
.img{
	margin-bottom: 25px;
	background-color: #1f1f1f;
	width: 160px;
	height: 240px;
}
.line{
	margin: 15px 0;
	height: 1px;
	background-color: white;
}
.line2{
	margin: 0 15px;
	width: 1px;
	background-color: white;
}

.footer p{
	margin-top: 20px;
	font-size: 12px;
	text-align: justify;
	color: white;
}